<template>
  <div class="container" id="app">
    <SequelizeVueBeta />
  </div>
</template>

<script>
import SequelizeVueBeta from "./components/SequelizeVueBeta.vue";

export default {
  name: "App",
  components: {
    SequelizeVueBeta
  }
};
</script>

<style lang="scss" scoped>
</style>
