<template>
  <form class="form" @submit.prevent="save">
    <h3 class="subtitle">{{ title }}</h3>
    <div class="field">
      <label>First Name</label>
      <div class="control">
        <input
          class="input"
          type="text"
          v-model="firstName"
          placeholder="John"
        />
      </div>
    </div>
    <div class="field">
      <label>Last Name</label>
      <div class="control">
        <input
          class="input"
          type="text"
          v-model="lastName"
          placeholder="Doe"
        />
      </div>
    </div>
    <div class="field">
      <label>Phone</label>
      <div class="control">
        <input
          class="input"
          type="text"
          v-model="phone"
          placeholder="111-222-3333"
        />
      </div>
    </div>
    <div class="field">
      <label>Email</label>
      <div class="control">
        <input
          class="input"
          type="text"
          v-model="email"
          placeholder="johndoe@email.com"
        />
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input
          class="button is-success"
          type="submit"
          :disabled="email.length == 0 || phone.length == 0 || lastName.length == 0 || firstName.length == 0"
          value="Save"
        />
      </div>
    </div>
  </form>
</template>

<script>
export default {
  name: "AddUpdateContact",
  props: ["contact","title"],
  data: function() {
    return {
      id: this.contact ? this.contact.id : null
      , firstName: this.contact ? this.contact.firstName : ""
      , lastName: this.contact ? this.contact.lastName : ""
      , phone: this.contact ? this.contact.phone : ""
      , email: this.contact ? this.contact.email : ""
    };
  },
  methods: {
    save: function() {
      this.$emit( 'save-contact', {
        id: this.id
        , firstName: this.firstName
        , lastName: this.lastName
        , phone: this.phone 
        , email: this.email 
      } );
      if(!this.id){
        this.firstName = "";
        this.lastName = "";
        this.phone = "";
        this.email = "";
      }
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
