<template>
  <div class="card">
    <header class="card-header">
      <p @click="showDetail = !showDetail" class="card-header-title">
        {{ contact.firstName }} {{ contact.lastName }}
      </p>
      <a class="card-header-icon" @click.stop="deleteContact(contact)">
        <span class="icon">
          <i class="fas fa-trash-alt"></i>
        </span>
      </a>
    </header>
    <div v-show="showDetail" class="card-content">
      <add-update-contact
        title="Details"
        :contact="contact"
        @save-contact="onAddOrUpdateContact"
      />
    </div>
  </div>
</template>

<script>
import AddUpdateContact from "./AddUpdateContact.vue";
export default {
  name: "Contact",
  props: ["contact"],
  components: {
    "add-update-contact": AddUpdateContact
  },
  data: function() {
    return {
      showDetail: false
    };
  },
  methods: {
    onAddOrUpdateContact: function(contact) {
      this.$emit("save-contact", contact);
    }
    , deleteContact: function(contact) {
      this.$emit("delete-contact", contact);
    }
  }
};
</script>

<style lang="scss" scoped>
// custom styling for specific icons
.fa-trash-alt {
  color: limegreen;
}
</style>
