<template>
  <div class="block">
    <section class="section section-container test-alpha">
      <h2 class="title">Contacts</h2>
      <div class="block" v-if="contacts && error !== false">
        <p class="subtitle">{{ error }}</p>
      </div>
      <div
        class="block"
        v-else-if="contacts && contacts.length === 0 && error === false"
      >
        <p class="subtitle">There are no contacts! Buuu!</p>
      </div>
      <div class="block" v-else>
        <contact
          v-for="contact in contacts"
          :key="contact.name"
          :contact="contact"
          @save-contact="onAddOrUpdateContact"
          @delete-contact="deleteContact"
        />
      </div>
    </section>
    <section class="section section-container test-beta">
      <div class="box">
        <add-update-contact
          title="Add Contact"
          @save-contact="onAddOrUpdateContact"
        />
      </div>
    </section>
  </div>
</template>

<script>
import AddUpdateContact from "./AddUpdateContact.vue";
import Contact from "./Contact.vue";

import axios from "axios";

export default {
  name: "SequelizeVueBeta",
  components: {
    contact: Contact,
    "add-update-contact": AddUpdateContact
  },
  data: function() {
    return {
      contacts: [],
      apiURL: "http://localhost:5000/api/contacts",
      error: false
    };
  },
  methods: {
    onAddOrUpdateContact: function(contact) {
      // console.log( "either... or... " , contact );
      if (contact.id) {
        this.updateContact(contact);
      } else {
        this.addContact(contact);
      }
    },
    addContact: function(contact) {
      // console.log( "adding..." , contact );

      return axios.post(this.apiURL, contact).then(response => {
        // console.log( "response.data" , response.data );
        // console.log( "response" , response );
        const copy = this.contacts.slice();
        copy.push(response.data);
        this.contacts = copy;
      });
    },
    updateContact: function(contact) {
      // console.log( "updating..." , contact );

      return axios
        .put(`${this.apiURL}/${contact.id}`, contact)
        .then(response => {
          // console.log( "response.data" , response.data );
          // console.log( "response" , response );
          const copy = this.contacts.slice();
          const idx = copy.findIndex(c => c.id === response.data.id);
          copy[idx] = response.data;
          this.contacts = copy;
        });
    },
    deleteContact: function(contact) {
      // console.log( "deleting..." , contact );

      return axios.delete(`${this.apiURL}/${contact.id}`).then(response => {
        // console.log( "response.data" , response.data );
        // console.log( "response" , response );
        let copy = this.contacts.slice(); // console.log( "copy" , copy );
        const idx = copy.findIndex(c => c.id === response.data.id); // console.log( "idx", idx );
        copy.splice(idx, 1); // console.log( "copy" , copy );
        this.contacts = copy;
        this.getAllContacts();
      });
    },
    getAllContacts: function() {
      this.error = false;

      return axios.get(this.apiURL).then(response => {
        // console.log( "response" , response );
        // console.log( "response.data" , response.data );
        // ONLY A TEST...
        if (response.data.errormessage !== undefined) {
          console.log("response.data.errormessage", response.data.errormessage);
          this.error = response.data.errormessage;
        } else {
          this.contacts = response.data;
        }
      });
    },
    logFunk: function(pm) {
      console.log(`>>>>>>>> ${pm} hook has just been fired up! >>>>>>>>`);
    }
  },
  /* beforeCreate: function() {
    // this.logFunk("beforeCreate");
    console.log(`>>>>>>>> beforeCreate >>>>>>>>`);
    // console.log("this: ", this);
    if (this.apiURL === undefined) {
      // console.log("this.apiURL: ", this.apiURL); // RETURNS undefined
      console.log(
        "Any and all properties and/or attributes are inaccessible at this stage!"
      );
    }
  },
  created: function() {
    this.logFunk("created");
    // console.log("this.apiURL: ", this.apiURL); // RETURNS http://localhost:5000/api/contacts
  },*/
  beforeMount: function() {
    this.logFunk("beforeMount");
    // console.log("this.apiURL: ", this.apiURL); // RETURNS http://localhost:5000/api/contacts
    this.getAllContacts();
  } /*,
  mounted: function() {
    this.logFunk("mounted");
  },
  beforeUpdate: function() {
    this.logFunk("beforeUpdate");
  },
  updated: function() {
    this.logFunk("updated");
  },
  beforeDestroy: function() {
    this.logFunk("beforeDestroy");
  },
  destroyed: function() {
    this.logFunk("destroyed");
  } */
};
</script>

<style lang="scss" scoped>
.test-alpha {
  padding-top: 24px;
  padding-bottom: 5px;
}
.test-beta {
  padding-bottom: 10px;
}
.section-container {
  max-width: 800px;
  margin: auto;
  // margin-right: auto;
  // margin-left: auto;
}
</style>
