<template>
  <section class="section">
    <h1 class="title">{{ konichiwa }}</h1>
    <p class="subtitle">My first website with <strong>Bulma</strong>!</p>
    <h2 class="subtitle">{{ msg }}</h2>
    <div class="block">
      <p class="colourized">This is colourized text, baby!</p>
    </div>
    <div class="block">
      <i class="fas fa-fish"></i>
      <i class="fas fa-frog"></i>
      <i class="fas fa-user-ninja vanishing"></i>
      <i class="fab fa-facebook"></i>
      <i class="fas fa-trash-alt"></i>
    </div>
  </section>
</template>

<script>
export default {
  name: "Testula",
  props: {
    msg: String
  },
  data: () => {
    return {
      konichiwa: "KONICHIWA, BABY!"
    };
  }
};
</script>

<style lang="scss" scoped>

$maggienormal: darkmagenta;

.colourized {
  text-transform: uppercase;
  color: $maggienormal;
}

// custom styling for all icons
i.fas,
i.fab {
  border: 1px solid red;
  font-size: 5em;
}

// custom styling for specific icons
.fa-fish {
  color: salmon;
}
.fa-frog {
  color: green;
}
.fa-trash-alt {
  color: limegreen;
}
.fa-user-ninja.vanishing {
  opacity: 0.45;
}
.fa-facebook {
  color: rgb(59, 91, 152);
}
</style>
